body {
    font-family: Arial, sans-serif; /* Define a fonte para o corpo do texto */
    margin: 0px; /* Remove as margens padrão do corpo */
    padding: 0px; /* Remove o preenchimento padrão do corpo */
}

main {
    display: grid; /* Define o contêiner principal como um grid */
    grid-template-columns: 1fr 2fr 1fr; /* Define três colunas com proporções 1:2:1 */
    grid-gap: 10px; /* Define um espaçamento de 10px entre as células do grid */
}

.item {
    background-color: #296cde; /* Define a cor de fundo para os itens */
    color: #fff; /* Define a cor do texto para branco */
    padding: 50px 20px; /* Adiciona preenchimento interno de 50px na vertical e 20px na horizontal */
    text-align: center; /* Centraliza o texto horizontalmente dentro dos itens */
}
