body{
    margin: 0;
}

header{
   margin-top: 200px; 
}

nav{
    position: sticky;
    top: 0;
}

ul{
    display: flex;
    background-image: linear-gradient(to bottom, #000, #444);
    margin: 0;
}

li{
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
}
li:hover{
    background-image: linear-gradient(to top, #000, #444);
    
}
li ul{
    display: none;
    position: absolute;
    padding: 0;
    flex-direction: column;
    transform: translate(-10px, 10px);
}
li:hover ul{
    display: flex;
}
ul:hover li:not(:hover){
    color: grey;
}
main{
    height: 200vw;
}